hr {
  color: red;
}
body {
  background-color: rgb(26, 26, 26);
}
.slider-wrapper .image-list {
  display: grid;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 12px;
  grid-template-columns: repeat(8, 1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 700px;
  height: 400px;
  border-radius: 3px;
  object-fit: cover;
}
.container {
  max-width: 100%;
  width: 100%;
  position: relative;
  top: 50px;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  height: 50px;
  width: 50px;
  color: white;
  background: none;
  border: none;
  font: inherit;
  line-height: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.slider-wrapper .slide-button:hover {
  opacity: 50%;
}

.slider-wrapper .slide-button#prev-slide {
  left: 30px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: 30px;
}

.container2 {
  max-width: 100%;
  width: 100%;
  position: relative;
  top: 100px;
}
.slider-wrapper .image-list .image-item2 {
  width: 410px;
  height: 210px;
  border-radius: 3px;
  object-fit: cover;
}

.container3 {
  max-width: 100%;
  width: 100%;
  position: relative;
  top: 150px;
}
.slider-wrapper .image-list .image-item3 {
  width: 270px;
  height: 320px;
  border-radius: 3px;
  object-fit: cover;
}

@media (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
  }
}

h1 {
  color: white;
  position: relative;
  left: 5vh;
  font-size: 1.5em;
}
#titre1 {
  margin-top: 3vh;
}
#titre2 {
  top: 80px;
}
#titre3 {
  margin-top: 10px;
  top: 130px;
}
